*,
::after,
::before {
  box-sizing: border-box;
  
}

.storyPage{
  font-family: "Press Start 2P", cursive;
  line-height: 1.5;
  font-size: 16px;
  margin: 0;
}

.avatar {
  width: 80px;
  min-width: 80px;
  height: 80px;
  background: #000;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: -35px;
}

.messages {
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.message {
  margin: 60px 0;
  display: flex;
  width: 100%;
}

.message-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  
}

@media (max-width: 520px) {
  .message-container {
    flex-direction: column;
    
  }

  .avatar {
    margin-top: 50px;
  }

  .message-left .message-container {
    align-items: flex-start;
    flex-direction: column-reverse;
    
  }
}

.message-left .message-container {
  justify-content: flex-start;
}

.message-right .message-container {
  justify-content: flex-end;
}

.message-left {
  align-self: flex-start;
}

.message-right {
  align-self: flex-end;
  
}

.message-left .avatar {
  margin-right: 20px;
}
.message-right .avatar {
  margin-left: 20px;
}

.balloon {
  width: 600px;
  max-width: 100%;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 5px #fff, 0 10px #000, 0 -5px #fff, 0 -10px #000, -5px 0 #fff,
    -10px 0 #000, 5px 0 #fff, 10px 0 #000, 5px 5px #000, -5px -5px #000,
    -5px 5px #000, 5px -5px #000;
  background-color: white;
}

.balloon p {
  word-wrap: break-word;
  
}

.balloon-right:after,
.balloon-left:after {
  content: "";
  position: absolute;
  background: #000;
  width: 5px;
  height: 5px;
  
}

.balloon-left:after {
  bottom: -15px;
  left: 10%;
  box-shadow: 5px -5px #fff, 10px -5px #fff, 15px -5px #fff, 20px -5px #fff,
    25px -5px #fff, 0 5px #000, -5px 10px #000, -10px 15px #000, -10px 20px #000,
    -5px 20px #000, 0 20px #000, 5px 20px #000, 10px 20px #000, 15px 20px #000,
    20px 15px #000, 25px 10px #000, 30px 5px #000, 30px 0 #000;
    background-color: white;

  
}

.balloon-right:after {
  bottom: -15px;
  right: 10%;
  box-shadow: 5px -5px #fff, 10px -5px #fff, 15px -5px #fff, 20px -5px #fff,
    25px -5px #fff, 0 5px #000, 5px 10px #000, 10px 15px #000, 15px 20px #000,
    20px 20px #000, 25px 20px #000, 30px 20px #000, 35px 20px #000,
    40px 20px #000, 40px 15px #000, 35px 10px #000, 30px 5px #000, 30px 0 #000;
  background-color: white;
}
