main {
  display: block;
  margin: 0 auto;
  width: 50rem;
  background: black;
  color: white;
  border-radius: 8px 8px 0 0;
}

#tabs {
  margin-top: 80px;
  margin-bottom: 30px;
  background: linear-gradient(to bottom, grey, #444857);
  padding-inline: .5rem;
  padding-top: .5rem;
  border-radius: 8px 8px 0 0;
  user-select: none;
}

.tab {
  background-color: black;
  width: 5rem;
  padding: .5rem;
  display: flex;
  gap: 1rem;
  border-radius: 8px 8px 0 0;
}

pre {
  font-family: "VT323", monospace;
  font-size: 150%;
  margin: 0;
  margin-top: .5rem;
  text-shadow: 0 0 5px white;
  cursor: default;
  white-space: pre-wrap;
}

pre::selection,
pre *::selection {
  background: rgba(255, 255, 255, .5)
}

@keyframes blink {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

#blink {
  animation: blink 530ms linear infinite;
  animation-direction: alternate;
}

.cmd {
  color: yellow;
}

.attr {
  color: gray;
}

pre:focus {
  appearance: none;
  outline: none;
}