@import 'style.css';
@import 'qrcode.css';
@import 'footer.css';
@import 'navbar.css';
@import 'typed.css';
@import 'bubbleSpeech.css';
@import 'card.css';
@import 'search-bar.css';
@import 'search-filter.css';