*{
  box-sizing: border-box;
}

  .qrcode-card {
  box-sizing : border-box;
  margin:30px auto;
  background-color : transparent;
  width: 250px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.75);
  border-radius: 25px;
  border: 1px solid rgba(0 , 0 , 0 , 0.75);
  height:250px;
}

 .form{
  background: pink;
  width: 100%;
  height:19px;
  padding: 20px 30px;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  

}

.qrcode {
  width:200px;
  height:200px;
  margin: 0px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
