.header {
display: flex;
position: relative;
justify-content: space-around;
opacity:0.78;
flex-wrap: wrap;
align-items:center ;
background: linear-gradient(0, #18151a 5%, #141313 50%);
padding-left:var(--spacing-small);
padding-top:var(--spacing-small);
padding-bottom:var(--spacing-medium);
padding-right:var(--spacing-large);
height: 100px;
}


body {
  width: 100%;
  background: linear-gradient(-45deg, #2588a1, #851b85, #a255cf, #418dd4);
  background-size: 400% 400%;
  height: 100vh;
  animation: efect 60s ease infinite;
  z-index: -2;
}



@keyframes efect {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}

.blue {
    color:rgb(45, 226, 226);
}
.orange {
    color:rgb(209, 95, 2);
}
.yellow {
    color:rgb(224, 224, 14);
}
.pink{
    color:rgb(238, 107, 234);
}


.navbar {
    display: flex;
    text-align:center;
    font-size:1.2rem;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:.1em;
    gap: 1em;
    font-family: 'Press Start 2P';




}


li {
    list-style: none;
   }
a {
    text-decoration: none;
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }


